.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main h2 {
  font-weight: 400;
}

.ques {
  height: 300px;
  width: 300px;
}

.guess_form {
  align-items: center;
}

.guess_form select {
  display: block;
  text-align: center;
  margin: 10px auto;
  background: white;
  color: black;
  width: 200px;
  padding: 10px;
  outline: none;
}

.guess_form option {
  color: black;
}

.main button {
  display: block;
  width: 100px;
  background: #020202;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
}

.fail {
  color: red;
  margin-top: 20px;
}

.success {
  margin-top: 20px;
}

.success p {
  color: green;
}

.minted {
  margin-top: 20px;
  color: green;
}